<div id="forum-title">
  <h1>Explore, Connect, and Share: Your Journey Begins Here!</h1>
</div>
<div class="container d-flex align-items-center justify-content-center">
  <div class="form">
    <div class="form-index">
      <%= simple_form_for [@concert, @forum] do |f| %>
        <div class="row">
          <div class="col-md-6">
            <div class="d-flex align-items-center">
              <%= f.input :content, placeholder: "Enter content", label: false, class: "smaller-input mr-2" %>
            </div>
          </div>
        </div>
        <div class="board-checkboxes d-flex">
          <% Forum.boards.keys.each do |key| %>
            <div class="form-check">
              <%= check_box_tag 'forum[board]', key, false, id: "board_#{key}", class: "form-check-input" %>
              <%= label_tag "board_#{key}", class: "form-check-label" do %>
                <span>
                  <%= key.humanize %>
                  <% case key.to_s %>
                  <% when "accommodation" %>
                  <i class="fa-solid fa-house fa-beat pe-4 ps-1" style="color: #8a2be2;"></i>
                  <% when "travel" %>
                  <i class="fa-solid fa-route fa-beat pe-4 ps-1" style="color: #8a2be2;"></i>
                  <% when "buddies" %>
                  <i class="fa-solid fa-user-plus fa-beat pe-4 ps-1" style="color: #8a2be2;"></i>
                  <% end %>
                </span>
              <% end %>
            </div>
          <% end %>
          <%= f.submit "Post", class: "button-navbar-purple" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div id="forum-h2">
  <h2>Posts</h2>
</div>
<div class="container-forum">
  <div class="filter-box">
    <div class="pin-icon rotated-icon">
      <i class="fa-solid fa-map-pin fa-4x fa-bounce rotated-icon" style="color: #8A2BE2;"></i>
    </div>
    <h3>Refine your search</h3>
    <div class="board-type">
      <%= form_with url: concert_forums_path(@concert), method: :get do |f| %>
        <div class="types">
          <%= label_tag :board, "Board Type" %><br>
          <% Forum.boards.keys.each do |board| %>
            <div class="item">
              <%= f.check_box :board, { multiple: true }, board, nil %>
              <%= label_tag "#{f.object_name}_board_#{board}", board.humanize %>
            </div>
          <% end %>
        </div>
        <div class="gender">
          <%= label_tag :gender, "User Gender" %><br>
          <% User.genders.keys.each do |gender| %>
            <div class="item">
              <%= f.check_box :gender, { multiple: true }, gender, nil %>
              <%= label_tag "#{f.object_name}_gender_#{gender}", gender.humanize %>
            </div>
          <% end %>
        </div>
        <div class="age-group">
          <%= label_tag :age_range, "Age Group" %><br>
          <%= f.select :age_range,
            options_for_select({
              "18-25" => "18-25",
              "26-35" => "26-35",
              "36-45" => "36-45",
              "46-60" => "46-60",
              "60+" => "60+"
            }),
            { include_blank: false, prompt: "Age Group" },
            class: "form-control smaller-input",
            style: "width: 150px;" %>
        </div>
        <%= f.submit "Filter", class: "button-navbar-purple", id: "reuse-form-button", style: "margin-top: 15px;" %>
      <% end %>
    </div>
  </div>
</div>
<div class="card-forum">
  <% @forums.each do |forum| %>
    <%= link_to concert_forum_path(forum.concert, forum), class: "full-card-link" do %>
      <div class="card-small-forum">
        <div class="user-info">
          <% if forum.user.photo.attached? %>
            <%= cl_image_tag forum.user.photo.key, class: "avatar-large" %>
          <% end %>
          <div class="user-first_name">
            <h3><%= forum.user.first_name %></h3>
            <p class="timestamp"><%= forum.created_at.strftime("%B %d, %Y %H:%M") %></p>
          </div>
        </div>
        <div class="forum-info d-flex justify-content-between">
          <p class="content"><%= forum.content %></p>
          <% case forum.board.to_s %>
          <% when "accommodation" %>
          <i class="fa-solid fa-house fa-beat pe-4 ps-1" class="icon-types" style="color: #8a2be2;"></i>
          <% when "travel" %>
          <i class="fa-solid fa-route fa-beat pe-4 ps-1" class="icon-types" style="color: #8a2be2;"></i>
          <% when "buddies" %>
          <i class="fa-solid fa-user-plus fa-beat pe-4 ps-1" class="icon-types" style="color: #8a2be2;"></i>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
</div>
