<div class="container">
  <div class="card-forum">
    <% @forums.each do |forum| %>
      <div class="card">
        <div class="user-info">
          <% if forum.user.gender == 'male' %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
          <% else %>
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
          <% end %>
          <div class="user-first_name">
            <h2><%= forum.user.first_name %></h2>
            <p class="timestamp"><%= forum.created_at.strftime("%B %d, %Y %H:%M") %></p>
          </div>
        </div>
        <div class="forum-info">
          <p class="content"><%= forum.content %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
