<div class="body-lavanda">
  <div class="white-box">
    <div class="container">
      <div class="form">
        <%= simple_form_for [@concert, @forum] do |f| %>
          <%= f.input :content, placeholder: "Enter content", class: "smaller-input", style: "margin-right: 10px;" %>

          <div class="board-checkboxes">
            <% Forum.boards.keys.each do |key| %>
              <div class="form-check">
                <%= check_box_tag 'forum[board][]', key, false, id: "board_#{key}", class: "form-check-input" %>
                <%= label_tag "board_#{key}", key.humanize, class: "form-check-label" %>
              </div>
            <% end %>
          </div>

          <%= f.submit "Post", class: "button-navbar-purple" %>
        <% end %>
      </div>
    </div>

   <div class="container d-flex">
    <div class="card-forum">
      <% @forums.each do |forum| %>
        <%= link_to concert_forum_path(forum.concert, forum), class: "full-card-link" do %>
          <div class="card">
            <div class="user-info">
             <% if forum.user.gender == "male" %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
              <% else %>
                <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
              <% end %>
              <div class="user-first_name">
                <h2><%= forum.user.first_name %></h2>
                <p class="timestamp"><%= forum.created_at.strftime("%B %d, %Y %H:%M") %></p>
              </div>
            </div>
            <div class="forum-info d-flex justify-content-between">
              <p class="content"><%= forum.content %></p>
              <p class="content"><%= forum.board %></p>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <div>
    <%= form_with url: concert_forums_path(@concert), method: :get do |f| %>
      <div>
        <%= label_tag :board_type, "Board Type" %><br>
        <%= f.collection_check_boxes :board_type,
          Forum.boards.keys,
          :to_s,
          :humanize,
          { include_hidden: false },
          class: "form-check-input",
          style: "margin-right: 15px; margin-left: 10px;" %>
      </div>

      <div>
        <%= label_tag :gender, "User Gender" %><br>
        <%= f.collection_check_boxes :gender,
          User.genders.keys,
          :to_s,
          :humanize,
          { include_hidden: false },
          class: "form-check-input",
          style: "margin-right: 15px; margin-left: 10px;" %>
      </div>

      <div>
        <%= f.select :age_range,
          options_for_select({
            "18-25" => "18-25",
            "26-35" => "26-35",
            "36-45" => "36-45",
            "46-60" => "46-60",
            "60+" => "60+"
          }),
          { include_blank: false, prompt: "Age" },
          class: "form-control smaller-input", style: "width: 60px;" %>
      </div>


      <%= f.submit "Filter", class: "button-navbar-purple",
        style: "margin-top: 15px;" %>
    <% end %>
  </div>

</div>
