<body class="black-page">
  <div class="container mt-5">
    <div class="header mb-2">
      <%= link_to concert_forums_path do %>
        <i class="fa-solid fa-arrow-left" style="color: #c30bd0;"> Back</i>
      <% end %>
    </div>
    <div class="card-small-forum page">
      <div class="user-info">
        <% if @forum.user.photo.attached? %>
          <%= cl_image_tag @forum.user.photo.key, class: "avatar-large" %>
        <% elsif @forum.user.gender == "male" %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar-large", alt: "avatar-large" %>
        <% else %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/cveneziani", class: "avatar", alt: "avatar" %>
        <% end %>
        <div class="user-first_name">
          <strong><%= @forum.user.first_name %></strong>
          <i style="font-size: 90%;"> &nbsp <%= @forum.created_at.strftime("%B %d, %Y %H:%M") %>        </div>
        </div>
        <div class="forum-info d-flex justify-content-between">
          <p class="content content-post-comment"><%= @forum.content %></p>
          <% if @forum.board.to_s == "accommodation" %>
            <i class="fa-solid fa-house fa-beat pe-4 ps-1" class="icon-types" style="color: #8a2be2;"></i>
          <% elsif @forum.board.to_s == "travel" %>
            <i class="fa-solid fa-route fa-beat pe-4 ps-1" class="icon-types" style="color: #8a2be2;"></i>
          <% elsif @forum.board.to_s == "buddies" %>
            <i class="fa-solid fa-user-plus fa-beat pe-4 ps-1" class="icon-types" style="color: #8a2be2;"></i>
          <% else %>
            <i class="fa-solid fa-house fa-beat pe-4 ps-1" class="icon-types" style="color: #8a2be2;"></i>
          <% end %>
        </div>
      </div>
      <%= simple_form_for [@forum, @comment], html: { class: "d-flex" } do |f| %>
        <div class="d-flex comment-form-container mt-4" >
          <%= f.input :content, label: false, placeholder: "Add a comment...", class: "form-control" %>
          <%= f.submit "Send", class: "card-list-button button-purple text-decoration-none", style: 'height: 40px; margin-left: 10px;' %>
        </div>
      <% end %>
      <div class="comments">
        <% @forum.comments.order(created_at: :desc).each do |comment| %>
          <% if comment.user == current_user %>
            <div class="comment comment-left">
              <div class="mb-3">
                <%= image_tag(comment.user.photo.url, alt: comment.user.first_name, class: "user-photo") %>
                <strong style="padding-left: 10px;font-style: normal;"><%=comment.user.first_name%></strong>
                <i style="font-size: 100%;"> &nbsp <%= comment.created_at.strftime("%B %d, %Y %H:%M") %>
                </div>
                <p style="font-size: 112%;"><%= comment.content %></p>
              </div>
            <% else %>
              <div class="comment comment-left" style="background-color: #f5f5fd;">
                <div class="mb-3" style='font-size: 18px;'>
                  <small>
                    <%= image_tag(comment.user.photo.url, alt: comment.user.first_name, class: "user-photo") %>
                    <strong><%= comment.user.first_name %></strong>
                    <i style="font-size: 80%;"> &nbsp <%= comment.created_at.strftime("%a %b %e at %l:%M %p") %></i>
                  </small>
                </div>
                <p style="font-size: 112%;"><%= comment.content %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </body>
