<body class="black-page">
  <div class="container mt-5">
      <%= simple_form_for [@forum, @comment], html: { class: "d-flex" } do |f| %>
      <div class="d-flex comment-form-container mt-4" >
        <%= f.input :content, label: false, placeholder: "Add a comment...", class: "form-control" %>
        <%= f.submit "Send", class: "card-list-button button-purple text-decoration-none", style: 'height: 40px; margin-left: 10px;' %>
      </div>
    <% end %>
    <div class="comments">
      <% @forum.comments.order(created_at: :desc).each do |comment| %>
        <% if comment.user == current_user %>
          <div class="comment comment-left">
            <div class="mb-3">
              <small>
                <%= image_tag(comment.user.photo.url, alt: comment.user.first_name, class: "user-photo") %>
                <strong><%=comment.user.first_name%></strong>
                <i style="font-size: 80%;"> &nbsp <%= comment.created_at.strftime("%a %b %e at %l:%M %p") %></i>
              </small>
            </div>
            <p style="font-size: 80%;"><%= comment.content %></p>
          </div>
        <% else %>
          <div class="comment comment-left" style="background-color: #f5f5fd;">
            <div class="mb-3">
              <small>
                <%= image_tag(comment.user.photo.url, alt: comment.user.first_name, class: "user-photo") %>
                <strong><%= comment.user.first_name %></strong>
                <i style="font-size: 80%;"> &nbsp <%= comment.created_at.strftime("%a %b %e at %l:%M %p") %></i>
              </small>
            </div>
            <p style="font-size: 80%;"><%= comment.content %></p>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</body>
