<div class="container chatroom" data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>"
  data-chatroom-subscription-current-user-id-value="<%= current_user.id %>"
>
  <div class="header">
    <%= link_to :back do %>
      <i class="fa-solid fa-arrow-left" style="color: #c30bd0;"> Back</i>
    <% end %>
    <h1><strong><%= "#{@chatroom.name}'s Chatroom" %></strong></h1>
  </div>
  <div class="messages" data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <div class="message-row d-flex <%= message.sender?(current_user) ? 'justify-content-end' : 'justify-content-start' %>">
        <div class="<%= message.sender?(current_user) ? 'sender-style' : 'receiver-style' %>">
          <%= render "messages/message", message: message %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container d-flex justify-content-center mb-0">
    <div class="form-msg input-group mt-5 mb-0">
      <%= simple_form_for [@chatroom, @message],
        html: {data: {action: "turbo:submit-end->chatroom-subscription#resetForm"}, class: "d-flex"} do |f|
      %>
      <%= f.input :content,
          label: false,
          placeholder: "Message"
          #wrapper_html: {class: "me-1 form-control transparent-borderless mb-0"}
        %>
      <%= f.submit "Send", class: "button-chat" %>
    <% end %>
  </div>
  </div>
</div>