<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
      <%= link_to "root_path", class: "navbar-brand" do %>
    <div class="logo-container">
      <%= image_tag "https://static.vecteezy.com/system/resources/previews/000/196/190/original/abstract-grunge-music-live-concert-poster-design-vector.jpg", style: 'width: 80px;' %>
      <p>Concertmatch</p>
    </div>
      <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Home", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Threads", "#", class: "nav-link" %>
        </li>
        <li class="nav-chat">
          <%= link_to "Coversation", "#", class: "nav-link" %>
        </li>
      </ul>

    <div class="row d-flex  justify-content-center">
      <div class="col-sm-12 my-6">
        <%= form_with url: "#", method: :get, class: "d-flex" do %>
          <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Search", style: "margin-right: 10px;" %>
          <%= submit_tag "Search", name: "", class: "button-purple" %>
          <%= image_tag "https://thumbs.dreamstime.com/b/beautiful-girl-face-big-blue-eyes-27497766.jpg", class: "avatar-bordered", style: 'width: 40px;' %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
