<div class="banner-index" style="background-image: url(<%= asset_url('index-banner-pic.jpg') %>)">
  <div class="banner-text justify-content-start align-items-center">
    <h6>Experience the Thrill</h6>
    <h1>An Unforgettable Concert Experience with New Friends</h1>
    <p>Indulge in the thrill of live music and immerse yourself in the electric atmosphere of concerts. Feel the rhythm pulsating through your veins as talented artists take the stage, creating magical moments that will stay with you forever</p>
    <%#= link_to "List Buddies", "#", class: "button-purple text-decoration-none"%>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <% @concerts.each do |concert| %>
      <div class="col-12 col-md-6 my-4">
      <div class="card-list">
      <h2><%= concert.name %></h2>
      <div class="card-list-infos">
        <div>
          <div class="date">
            <h2 class="month"><%= concert.date.strftime("%B") %></h2>
            <h2 class="day"><%= concert.date.day %></h2>
            <h2 class="day"><%= concert.date.strftime("%H:%M") %></h2>
          </div>
          <div>
            <p class="address">Artist: <%=concert.artist%></p>
            <p class="address">Genre: <%=concert.genre%></p>
            <p class="address">Address: <%=concert.address%></p>
          </div>
        </div>
        <div class="card-list-button button-purple">Details</div>
        <h3 class="card-list-city">Amsterdam</h3>
        </div>
      </div>
    <% end %>
  </div>
</div>
