<div class="container mt-5">
  <div>
    <h1><%= @concert.name %></h1>
  </div>
  <div class="d-flex align-items-center justify-content-between my-5">
    <div class="details-info">
      <div class="d-flex align-items-center justify-content-between">
        <div class="date pe-4">
          <h2 class="month"><%= @concert.date.strftime("%B") %></h2>
          <h2 class="day"><%= @concert.date.day %></h2>
        </div>
        <div class="vertical-line ps-4"></div>
        <div class="city-info d-flex flex-column align-items-center">
          <h4 class="address"><%= @concert.address %></h4>
          <h3 class="card-list-city">Amsterdam</h3>
        </div>
      </div>
      <div class="d-flex flex-column align-items-center mt-4">
        <h2 class="address py-1"><strong><%= @concert.artist %></strong></h2>
        <h2 class="address mb-4 py-1"><strong><%= @concert.genre.capitalize %></strong></h2>
        <p class="text-justify"><%= @concert.summary %></p>
      </div>
      <div class="d-flex justify-content-center mt-4 mb-3">
        <%= link_to "Buddies", "#", class: "card-list-button button-purple me-3 text-decoration-none", "data-bs-toggle": "modal", "data-bs-target": "#buddyModal" %>
        <%= link_to "Interested", concert_forums_path(@concert), class:"card-list-button button-purple text-decoration-none"%>
      </div>
    </div>
    <div class="details-img ms-5">
      <%# <div class="" style="background-image: url(<%= cl_image_path @concert.photo.key %>
      <%#= image_tag(cl_image_path @concert.photo.key) %>
      <% if @concert.photo.attached? %>
        <%= cl_image_tag @concert.photo.key, height:700%>
      <% end %>
    </div>
  </div>
  <div class="d-flex align-items-center">
    <div class="me-5">
      <%#= image_tag('index-banner-pic.jpg', class: 'img-fluid')%>
      <%= image_tag "https://source.unsplash.com/random/900x900/?concert%20crowd", alt: "Concert Crowd Image", style: "max-height: 300px; max-width: 1500px;" %>
    </div>
    <div class="text-justify">
      <h2 class="mb-4 font-size"><strong>About</strong></h2>
      <p>Welcome to our concert hub, where music comes alive and dreams take flight. With a passion for live performances, we curate unforgettable experiences that resonate with your soul. Immerse yourself in the rich tapestry of sounds and emotions as acclaimed artists from diverse genres take center stage. Our mission is to ignite your senses and create memories that will last a lifetime. Join us on this exhilarating musical journey, where the energy of the crowd blends seamlessly with the electrifying performances on stage. Discover the power of music and let it be the soundtrack to your unforgettable concert adventure.</p>
    </div>
  </div>
</div>
<div class="modal fade" id="buddyModal" tabindex="-1" aria-labelledby="buddyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="buddyModalLabel">Join the concert</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <% if !@favorites.empty? %>
            <% @favorites.each do |f| %>
              <div class="col-sm-4 mb-5">
                <div class="d-flex flex-column align-items-center">
                  <% if f.user.photo.attached? %>
                    <%= cl_image_tag f.user.photo.key, class: "avatar" %>
                  <% else %>
                    <%= image_tag "user-pic.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% end %>
                  <%= f.user.first_name %>,
                  <%= f.user.age %>
                  <p style="font-size: 14px; font-style: italic; text-align: center;">
                    <i class="fa-solid fa-music fa-beat"></i>&nbsp; <%= f.user.genres %>&nbsp;
                    <i class="fa-sharp fa-solid fa-volume-high fa-beat"></i>
                  </p>
                  <li class="list-inline-item" style="margin-bottom: 10px;"><a href="https://www.facebook.com"><i class="fa-regular fa-comments fa-shake fa-xl" style="color: #132c58;"></i></a></li>
                  <h6 style="font-size: 14px; font-style: italic; text-align: center;"><%= f.user.bio %></h6>
                  <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="https://www.facebook.com"><i class="fab fa-facebook" style="font-size: 20px; color: #4267B2;"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.twitter.com"><i class="fab fa-twitter" style="font-size: 20px; color: #1DA1F2;"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com"><i class="fab fa-instagram" style="font-size: 20px; color: #C13584;"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.spotify.com"><i class="fab fa-spotify" style="font-size: 20px; color: #1DB954;"></i></a></li>
                  </ul>
                </div>
              </div>
            <% end %>
          <% else %>
            <%= 'Buddies not found' %>
          <% end %>
        </div>
      </div>
      <div class="modal-footer">
        <%= link_to "Go to the forum", concert_forums_path(@concert), class:"card-list-button button-purple text-decoration-none" %>
      </div>
    </div>
  </div>
</div>
