<div class="container mt-5">
  <div class="row concert-details my-5">
    <div class="col-md-6 align-self-center">
      <div class="d-flex ">
        <div class="icon me-4 mb-2">
          <i class="fa-solid fa-compact-disc fa-flip fa-2x"></i>
        </div>
      </div>
      <div class="details-info">
        <h1><strong><%= @concert.name %></strong></h1>
        <div class="row address-date">
          <div class="col-sm-2">
            <div class="date text-start"> <!-- Add text-start class -->
              <h2 class="month"><%= @concert.date.strftime("%B") %></h2>
              <h2 class="day"><%= @concert.date.day %></h2>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="d-flex align-items-center">
              <div class="vertical-line"></div>
              <div class="city-info text-start"> <!-- Add text-start class -->
                <h4 class="address"><%= @concert.address %></h4>
                <h3 class="card-list-city">Amsterdam</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="row artist-genre align-items-center mt-4">
          <div class="col-6">
            <h3 class="artist-label mb-4"><span class="label-text">Artist:</span> <strong><%= @concert.artist %></strong></h3>
          </div>
          <div class="col">
            <h3 class="genre mb-4 py-1"><span class="label-text">Genre:</span> <strong><%= @concert.genre.capitalize %></strong></h3>
          </div>
        </div>
        <div class="row summary-show">
          <div class="col">
            <h3><strong>Description:</strong></h3>
            <p class="text-justify"><%= @concert.summary %></p>
          </div>
        </div>
        <div class="buddies-forum-btn row">
          <div class="col-4">
            <%= link_to "Buddies", "#", class: "button-navbar-purple text-decoration-none", "data-bs-toggle": "modal", "data-bs-target": "#buddyModal" %>
          </div>
          <div class="col-4">
            <% if user_signed_in? %>
              <% if current_user.favorited?(@concert) %>
                <%= link_to "Go to Forum", concert_forums_path(@concert), class: "button-navbar-purple text-decoration-none" %>
              <% else %>
                <%= link_to "interested", concert_favorites_path(@concert), data: { turbo_method: :post }, class: "button-navbar-purple text-decoration-none" %>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="details-img ms-5 img-fluid">
        <% if @concert.photo.attached? %>
          <%= cl_image_tag @concert.photo.key, height: 600 %>
          <div class="icon">
            <% if user_signed_in? %>
              <% if current_user.favorited?(@concert) %>
                <% favorite = Favorite.find_by(user: current_user, concert: @concert) %>
                <%= link_to favorite_path(favorite), data: { turbo_method: :delete } do %>
                  <i class="fa-solid fa-heart" style="color: red; font-size: 40px;"></i>
                <% end %>
              <% else %>
                <%= link_to concert_favorites_path(@concert), data: { turbo_method: :post } do %>
                  <i class="fa-regular fa-heart" style="font-size: 40px;"></i>
                <% end %>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-md-5">
      <div class="me-2 img-fluid">
        <%= image_tag "https://source.unsplash.com/random/600x500/?concert%20crowd", alt: "Concert Crowd Image", style: "max-height: 600px; max-width: 100%;" %>
      </div>
    </div>
    <div class="col-md-5">
      <div class="text-justify about-summary">
        <h2 class="mb-4 font-size"><strong>About</strong></h2>
        <p>Welcome to our concert hub, where music comes alive and dreams take flight. With a passion for live performances, we curate unforgettable experiences that resonate with your soul. Immerse yourself in the rich tapestry of sounds and emotions as acclaimed artists from diverse genres take center stage. Our mission is to ignite your senses and create memories that will last a lifetime. Join us on this exhilarating musical journey, where the energy of the crowd blends seamlessly with the electrifying performances on stage. Discover the power of music and let it be the soundtrack to your unforgettable concert adventure.</p>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="buddyModal" tabindex="-1" aria-labelledby="buddyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="buddyModalLabel">Join the concert</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <% if !@favorites.empty? %>
            <% @favorites.each do |f| %>
              <div class="col-sm-4 mb-5"> 
                <div class="d-flex flex-column align-items-center">
                  <% if f.user.photo.attached? %>
                    <%= cl_image_tag f.user.photo.key, class: "avatar" %>
                  <% else %>
                    <%= image_tag "user-pic.png", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
                  <% end %>
                  <%= f.user.first_name %>,
                  <%= f.user.age %>
                  <p style="font-size: 14px; font-style: italic; text-align: center;">
                    <i class="fa-solid fa-music fa-beat"></i>&nbsp; <%= f.user.genres %>&nbsp;
                    <i class="fa-sharp fa-solid fa-volume-high fa-beat"></i>
                  </p>
                  <% if current_user && current_user.has_shared_chat?(f.user) %>
                    <%= link_to chatroom_path(current_user.shared_chat(f.user)) do %>
                      <li class="list-inline-item" style="margin-bottom: 10px;">
                        <i class="fa-regular fa-comments fa-shake fa-xl" style="color: #132C58;"></i>
                      </li>
                    <% end %>
                  <% else %>
                    <%= link_to chatrooms_path(f.user), data: { turbo_method: :post } do %>
                      <li class="list-inline-item" style="margin-bottom: 10px;">
                        <i class="fa-regular fa-comments fa-shake fa-xl" style="color: #132C58;"></i>
                      </li>
                    <% end %>
                  <% end %>
                  <h6 style="font-size: 14px; font-style: italic; text-align: center;"><%= f.user.bio %></h6>
                  <ul class="list-inline social-icons">
                    <li class="list-inline-item"><a href="https://www.facebook.com"><i class="fab fa-facebook" style="font-size: 20px; color: #4267B2;"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.twitter.com"><i class="fab fa-twitter" style="font-size: 20px; color: #1DA1F2;"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.instagram.com"><i class="fab fa-instagram" style="font-size: 20px; color: #C13584;"></i></a></li>
                    <li class="list-inline-item"><a href="https://www.spotify.com"><i class="fab fa-spotify" style="font-size: 20px; color: #1DB954;"></i></a></li>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
        <% else %>
          <%= 'Buddies not found' %>
        <% end %>
      </div>
    </div>
    <div class="modal-footer">
      <%= link_to "Go to the forum", concert_forums_path(@concert), class:"card-list-button button-purple text-decoration-none" %>
    </div>
  </div>
</div>
