<div class="container d-flex flex-column align-items-center mt-2">
  <div class="container-smaller">
    <div class="row">
      <div class="col-5 bgpurple d-flex flex-column align-items-center">
        <%= image_tag "jas-pic.jpg", class: "profile-img" %>
        <h2 class="text-white">- Jas -</h2>
        <div class="text-center d-flex justify-content-between align-items-center fw-light">
          <div>
            <h4 class="background-yellow-smaller mt-2 me-4">ADD FRIEND</h4>
          </div>
          <div>
            <li class="list-inline-item" style="margin-bottom: 10px;">
              <i class="fa-regular fa-comments fa-shake fa-xl" style="color: $yellow;"></i>
            </li>
          </div>
        </div>
        <h4 class="text-decoration-line text-white custom-light-text mt-3" style="border-bottom:9px solid white; ">ABOUT ME</h4>
        <p class="text-white">Some description</p>
        <h4 class="text-white text-decoration-line mt-1">CONVERSATIONS</h4>
        <ul class="list-unstyled">
          <% current_user.active_chats.each do |chat| %>
            <li class="text-white "><%= link_to chat.name, chatroom_path(chat) %></li>
          <% end %>
          <li class="text-white "><i class="fa-sharp fa-solid fa-phone"> 064453554</i></li>
          <li class="text-white "><i class="fa-sharp fa-solid fa-paper-plane"> ggg@gmail.com</i></li>
          <li class="text-white "><i class="fa-sharp fa-solid fa-globe"> www//wwwww</i></li>
          <li class="text-white "><i class="fa-sharp fa-solid fa-location-dot">Amsterdam, 54-8</i></li>
        </ul>
      </div>
      <div class="col-7 bg-white d-flex flex-column align-items-center">
        <div class="text-center">
          <div>
            <h4 class="background-yellow">TOP ARTISTS</h4>
            <div class="grid-prof mb-2">
              <div class="card-prof">
                <div class="card-prof-img" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('starset.jpg') %>)">
                  <p class="text-white">STARSET</p>
                </div>
              </div>
              <div class="card-prof">
                <div class="card-prof-img" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('starset.jpg') %>)">
                  <p class="text-white">STARSET</p>
                </div>
              </div>
              <div class="card-prof">
                <div class="card-prof-img" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('starset.jpg') %>)">
                  <p class="text-white">STARSET</p>
                </div>
              </div>
              <div class="card-prof">
                <div class="card-prof-img" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('starset.jpg') %>)">
                  <p class="text-white">STARSET</p>
                </div>
              </div>
            </div>
          </div>
          <div>
            <h4 class="background-yellow">CONCERTS I'M INTERESTED IN</h4>
            <div class='mt-4 mb-4'>
              <ul>
                <li class="black_text">AWAKENINGS, AMSTERDAM</li>
                <li class="black_text">MAROON 5, BOSTON</li>
                <li class="black_text">GORILLAZ, LONDON</li>
                <li class="black_text">BEYONCE, BERLIN</li>
                <li class="black_text">JUSTIN, TOKYO</li>
              </ul>
            </div>
          </div>
          <div>
            <h4 class="background-yellow">TOP GENRES</h4>
            <div class="grid-prof mb-2">
              <div class="card-prof">
                <div class="card-prof-img" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('starset.jpg') %>)">
                  <p class="text-white">STARSET</p>
                </div>
              </div>
              <div class="card-prof">
                <div class="card-prof-img" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('starset.jpg') %>)">
                  <p class="text-white">STARSET</p>
                </div>
              </div>
              <div class="card-prof">
                <div class="card-prof-img" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('starset.jpg') %>)">
                  <p class="text-white">STARSET</p>
                </div>
              </div>
              <div class="card-prof">
                <div class="card-prof-img" data-aos="zoom-in" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= asset_path('starset.jpg') %>)">
                  <p class="text-white">STARSET</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
